<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<title>Épreuve finale volet II - Node.js, Express, MongoDB, EJS</title>
</head>
<body>
  <div class='global'>
  	  <header>
  	  	<h1>Épreuve finale volet II - Programmation et veille technologique</h1>
  	  	<h2>Node.js, Express, MongoDB, EJS</h2>
  	  	<nav>

  	  		<a href="#">1-Fichier</a>
  	  		<a href="#">2-Provinces</a>
  	  		<a href="#">3-Collection</a>
  	  		<a href="#">4-Ajouter un document</a>
  	  		<a href="#">5-Détruire</a>
  	  		<a href="#">6-Ajouter plusieurs</a>
  	  	<nav>
  	  </header>
  	  <main>
		  <table class="tableau">
        ----------------------------------------
		  </table>
	  </main>
	  <footer>
	  <p>Epreuve finale volet II - Programmation et veille technologique - TIM - Collège de Maisonneuve</p>
	  </footer>
  </div>
</body>
</html>