<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<title>Épreuve finale volet II - Node.js, Express, MongoDB, EJS</title>
</head>
<body>
  <div class='global'>
  	  <header>
  	  	<h1>Épreuve finale volet II - Programmation et veille technologique</h1>
  	  	<h2>Node.js, Express, MongoDB, EJS</h2>
  	  	<nav>

  	  		<a href="#">1-Fichier</a>
  	  		<a href="http://localhost:8081/provinces">2-Provinces</a>
  	  		<a href="http://localhost:8081/">3-Collection</a>
  	  		<a href="http://localhost:8081/add">4-Ajouter un document</a>
  	  		<a href="http://localhost:8081/detruire">5-Détruire</a>
  	  		<a href="http://localhost:8081/addall"">6-Ajouter plusieurs</a>
  	  	<nav>
  	  </header>
  	  <main>
		  <table class="tableau">
        <% for(var i=0; i<adresse.length; i++) {%>
          <tr><td><%= adresse[i].code %></td><td><%= adresse[i].nom %></td><td><%= adresse[i].capital %></td>
          <% if(adresse[i]._id != undefined){ %><td><%= adresse[i]._id %>
            
          </td><% } %></tr>
         <% } %>
		  </table>
	  </main>
	  <footer>
	  <p>Epreuve finale volet II - Programmation et veille technologique - TIM - Collège de Maisonneuve</p>
	  </footer>
  </div>
</body>
</html>